openapi: 3.0.0
info:
  title: Sentinel LCD API
  description: |
    REST (LCD) API for the Sentinel Hub, served by the gRPC-gateway of `sentinelhub`
    **v12.0.2** (Cosmos SDK v0.47.17, IBC-go v7, CosmWasm) on chain `sentinelhub-2`.

    Every route in this document was generated from the v12.0.2 Protobuf definitions and
    then verified against the public endpoint, so the spec lists only routes the chain
    actually serves.

    ## Notes on the Sentinel modules

    * Sentinel query services are **version-namespaced** (`/sentinel/node/v3/...`). The
      older unversioned paths (`/sentinel/nodes`, `/sentinel/modules/node/params`, ...)
      no longer exist.
    * `node`, `session` and `subscription` are served at **v3**; `deposit`, `lease`,
      `oracle` and `swap` at **v1**.
    * A few **v2** provider and subscription routes remain live and are marked
      deprecated. The remaining v1/v2 query services were removed in v12 and return
      `501 Not Implemented`.
    * The **plan v3** and **provider v3** query services exist over gRPC but their
      gateway routes are not registered in v12.0.2, so they have **no REST equivalent**.
      Query them over gRPC instead.

    ## Querying historical state

    Pass the `x-cosmos-block-height` header to read state at a past height:

    ```bash
    curl -H "x-cosmos-block-height: 30000000" \
        https://lcd.sentinel.co/cosmos/bank/v1beta1/balances/<address>
    ```
  version: 12.0.2
  contact:
    name: Sentinel
    url: https://github.com/sentinel-official/hub/issues
  license:
    name: Apache 2.0
    url: https://github.com/sentinel-official/hub/blob/master/LICENSE
servers:
- url: https://lcd.sentinel.co
  description: Sentinel Hub mainnet (sentinelhub-2)
- url: http://localhost:1317
  description: Local node, with api.enable = true in app.toml
tags:
- name: Sentinel · Nodes
  description: dVPN node registration, status and parameters (node v3).
- name: Sentinel · Sessions
  description: Active and historical dVPN session queries (session v3).
- name: Sentinel · Subscriptions
  description: Subscriptions and allocations (subscription v3, with live v2 allocation routes).
- name: Sentinel · Providers
  description: dVPN service provider registry (provider v2).
- name: Sentinel · Deposits
  description: Module deposit balances held for accounts.
- name: Sentinel · Leases
  description: Node leases taken out by providers (module added in v12).
- name: Sentinel · Oracle
  description: On-chain asset price feeds (module added in v12).
- name: Sentinel · Swaps
  description: Legacy ERC-20 to native token swap records.
- name: Auth
  description: Accounts, account metadata and bech32 helpers.
- name: Authz
  description: Authorization grants between accounts.
- name: Bank
  description: Token balances, supply, and denom metadata.
- name: Base
  description: Node and CometBFT base queries (blocks, validator sets, node config).
- name: Consensus
  description: Consensus parameters.
- name: Distribution
  description: Staking reward distribution, commission and community pool.
- name: Evidence
  description: Evidence of validator misbehaviour.
- name: Feegrant
  description: Fee allowances granted between accounts.
- name: Governance
  description: Proposals, deposits, votes and tallies (v1 and v1beta1).
- name: Group
  description: On-chain groups, group policies and group proposals.
- name: Mint
  description: Inflation and minting parameters.
- name: NFT
  description: NFT classes, ownership and balances.
- name: Params
  description: Legacy module parameter subspace queries.
- name: Slashing
  description: Validator signing info and slashing parameters.
- name: Staking
  description: Validators, delegations, redelegations and the bonding pool.
- name: Transactions
  description: Transaction broadcast, simulation, encoding and search.
- name: Upgrade
  description: Scheduled chain upgrades and module versions.
- name: IBC · Core
  description: IBC clients, connections and channels.
- name: IBC · Transfer
  description: ICS-20 fungible token transfer.
- name: IBC · Interchain Accounts
  description: ICS-27 interchain accounts (host and controller).
- name: CosmWasm
  description: Smart contract codes, instances and state.
paths:
  /cosmos/auth/v1beta1/account_info/{address}:
    get:
      summary: Account Info
      description: 'Since: cosmos-sdk 0.47'
      operationId: cosmos_auth_v1beta1_QueryAccountInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryAccountInfoResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address
        description: address is the account address string.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Auth
  /cosmos/auth/v1beta1/accounts:
    get:
      summary: Accounts
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.

        Since: cosmos-sdk 0.43
      operationId: cosmos_auth_v1beta1_QueryAccounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryAccountsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Auth
  /cosmos/auth/v1beta1/accounts/{address}:
    get:
      summary: Account
      operationId: cosmos_auth_v1beta1_QueryAccount
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryAccountResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address
        description: address defines the address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Auth
  /cosmos/auth/v1beta1/address_by_id/{id}:
    get:
      summary: Account Address By I D
      description: 'Since: cosmos-sdk 0.46.2'
      operationId: cosmos_auth_v1beta1_QueryAccountAddressByID
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryAccountAddressByIDResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: id
        description: |-
          Deprecated, use account_id instead

          id is the account number of the address to be queried. This field
          should have been an uint64 (like all account numbers), and will be
          updated to uint64 in a future version of the auth query.
        in: path
        required: true
        schema:
          type: string
          format: int64
      - name: account_id
        description: |-
          account_id is the account number of the address to be queried.

          Since: cosmos-sdk 0.47
        in: query
        required: false
        schema:
          type: string
          format: uint64
      tags:
      - Auth
  /cosmos/auth/v1beta1/bech32:
    get:
      summary: Bech32 Prefix
      description: 'Since: cosmos-sdk 0.46'
      operationId: cosmos_auth_v1beta1_Bech32Prefix
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.Bech32PrefixResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Auth
  /cosmos/auth/v1beta1/bech32/{address_bytes}:
    get:
      summary: Address Bytes To String
      description: |-
        Converts raw address bytes to a bech32 string.

        The reverse call (`AddressStringToBytes`) is registered by the SDK on the same URL template and is therefore unreachable over REST on this chain. Use gRPC (`cosmos.auth.v1beta1.Query/AddressStringToBytes`) for that direction.
      operationId: cosmos_auth_v1beta1_AddressBytesToString
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.AddressBytesToStringResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address_bytes
        in: path
        required: true
        schema:
          type: string
          format: byte
      tags:
      - Auth
  /cosmos/auth/v1beta1/module_accounts:
    get:
      summary: Module Accounts
      description: 'Since: cosmos-sdk 0.46'
      operationId: cosmos_auth_v1beta1_QueryModuleAccounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryModuleAccountsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Auth
  /cosmos/auth/v1beta1/module_accounts/{name}:
    get:
      summary: Module Account By Name
      operationId: cosmos_auth_v1beta1_QueryModuleAccountByName
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryModuleAccountByNameResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      tags:
      - Auth
  /cosmos/auth/v1beta1/params:
    get:
      summary: Params
      operationId: cosmos_auth_v1beta1_QueryParams
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.auth.v1beta1.QueryParamsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Auth
  /cosmos/authz/v1beta1/grants:
    get:
      summary: Grants
      operationId: cosmos_authz_v1beta1_QueryGrants
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.authz.v1beta1.QueryGrantsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: granter
        in: query
        required: false
        schema:
          type: string
      - name: grantee
        in: query
        required: false
        schema:
          type: string
      - name: msg_type_url
        description: Optional, msg_type_url, when set, will query only grants matching given msg type.
        in: query
        required: false
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Authz
  /cosmos/authz/v1beta1/grants/grantee/{grantee}:
    get:
      summary: Grantee Grants
      description: 'Since: cosmos-sdk 0.46'
      operationId: cosmos_authz_v1beta1_QueryGranteeGrants
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.authz.v1beta1.QueryGranteeGrantsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: grantee
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Authz
  /cosmos/authz/v1beta1/grants/granter/{granter}:
    get:
      summary: Granter Grants
      description: 'Since: cosmos-sdk 0.46'
      operationId: cosmos_authz_v1beta1_QueryGranterGrants
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.authz.v1beta1.QueryGranterGrantsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: granter
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Authz
  /cosmos/bank/v1beta1/balances/{address}:
    get:
      summary: All Balances
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.
      operationId: cosmos_bank_v1beta1_QueryAllBalances
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryAllBalancesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address
        description: address is the address to query balances for.
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Bank
  /cosmos/bank/v1beta1/balances/{address}/by_denom:
    get:
      summary: Balance
      operationId: cosmos_bank_v1beta1_QueryBalance
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryBalanceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address
        description: address is the address to query balances for.
        in: path
        required: true
        schema:
          type: string
      - name: denom
        description: denom is the coin denom to query balances for.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Bank
  /cosmos/bank/v1beta1/denom_owners/{denom}:
    get:
      summary: Denom Owners
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.

        Since: cosmos-sdk 0.46
      operationId: cosmos_bank_v1beta1_QueryDenomOwners
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryDenomOwnersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: denom
        description: denom defines the coin denomination to query all account holders for.
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Bank
  /cosmos/bank/v1beta1/denoms_metadata:
    get:
      summary: Denoms Metadata
      operationId: cosmos_bank_v1beta1_QueryDenomsMetadata
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryDenomsMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Bank
  /cosmos/bank/v1beta1/denoms_metadata/{denom}:
    get:
      summary: Denom Metadata
      operationId: cosmos_bank_v1beta1_QueryDenomMetadata
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryDenomMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: denom
        description: denom is the coin denom to query the metadata for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Bank
  /cosmos/bank/v1beta1/params:
    get:
      summary: Params
      operationId: cosmos_bank_v1beta1_QueryParams
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryParamsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Bank
  /cosmos/bank/v1beta1/send_enabled:
    get:
      summary: Send Enabled
      description: |-
        This query only returns denominations that have specific SendEnabled settings.
        Any denomination that does not have a specific setting will use the default
        params.default_send_enabled, and will not be returned by this query.

        Since: cosmos-sdk 0.47
      operationId: cosmos_bank_v1beta1_QuerySendEnabled
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QuerySendEnabledResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: denoms
        description: denoms is the specific denoms you want look up. Leave empty to get all entries.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Bank
  /cosmos/bank/v1beta1/spendable_balances/{address}:
    get:
      summary: Spendable Balances
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.

        Since: cosmos-sdk 0.46
      operationId: cosmos_bank_v1beta1_QuerySpendableBalances
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QuerySpendableBalancesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address
        description: address is the address to query spendable balances for.
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Bank
  /cosmos/bank/v1beta1/spendable_balances/{address}/by_denom:
    get:
      summary: Spendable Balance By Denom
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.

        Since: cosmos-sdk 0.47
      operationId: cosmos_bank_v1beta1_QuerySpendableBalanceByDenom
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QuerySpendableBalanceByDenomResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: address
        description: address is the address to query balances for.
        in: path
        required: true
        schema:
          type: string
      - name: denom
        description: denom is the coin denom to query balances for.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Bank
  /cosmos/bank/v1beta1/supply:
    get:
      summary: Total Supply
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.
      operationId: cosmos_bank_v1beta1_QueryTotalSupply
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QueryTotalSupplyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Bank
  /cosmos/bank/v1beta1/supply/by_denom:
    get:
      summary: Supply Of
      description: |-
        When called from another module, this query might consume a high amount of
        gas if the pagination field is incorrectly set.
      operationId: cosmos_bank_v1beta1_QuerySupplyOf
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.bank.v1beta1.QuerySupplyOfResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: denom
        description: denom is the coin denom to query balances for.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Bank
  /cosmos/base/node/v1beta1/config:
    get:
      summary: Config
      operationId: cosmos_base_node_v1beta1_Config
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.node.v1beta1.ConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/abci_query:
    get:
      summary: A B C I Query
      description: 'Since: cosmos-sdk 0.46'
      operationId: cosmos_base_tendermint_v1beta1_ABCIQuery
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.ABCIQueryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: data
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: height
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: prove
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/blocks/latest:
    get:
      summary: Get Latest Block
      operationId: cosmos_base_tendermint_v1beta1_GetLatestBlock
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.GetLatestBlockResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/blocks/{height}:
    get:
      summary: Get Block By Height
      operationId: cosmos_base_tendermint_v1beta1_GetBlockByHeight
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.GetBlockByHeightResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: height
        in: path
        required: true
        schema:
          type: string
          format: int64
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/node_info:
    get:
      summary: Get Node Info
      operationId: cosmos_base_tendermint_v1beta1_GetNodeInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.GetNodeInfoResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/syncing:
    get:
      summary: Get Syncing
      operationId: cosmos_base_tendermint_v1beta1_GetSyncing
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.GetSyncingResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/validatorsets/latest:
    get:
      summary: Get Latest Validator Set
      operationId: cosmos_base_tendermint_v1beta1_GetLatestValidatorSet
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.GetLatestValidatorSetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Base
  /cosmos/base/tendermint/v1beta1/validatorsets/{height}:
    get:
      summary: Get Validator Set By Height
      operationId: cosmos_base_tendermint_v1beta1_GetValidatorSetByHeight
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.base.tendermint.v1beta1.GetValidatorSetByHeightResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: height
        in: path
        required: true
        schema:
          type: string
          format: int64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Base
  /cosmos/consensus/v1/params:
    get:
      summary: Params
      operationId: cosmos_consensus_v1_QueryParams
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.consensus.v1.QueryParamsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Consensus
  /cosmos/distribution/v1beta1/community_pool:
    get:
      summary: Community Pool
      operationId: cosmos_distribution_v1beta1_QueryCommunityPool
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryCommunityPoolResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/delegators/{delegator_address}/rewards:
    get:
      summary: Delegation Total Rewards
      operationId: cosmos_distribution_v1beta1_QueryDelegationTotalRewards
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryDelegationTotalRewardsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: delegator_address
        description: delegator_address defines the delegator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/delegators/{delegator_address}/rewards/{validator_address}:
    get:
      summary: Delegation Rewards
      operationId: cosmos_distribution_v1beta1_QueryDelegationRewards
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryDelegationRewardsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: delegator_address
        description: delegator_address defines the delegator address to query for.
        in: path
        required: true
        schema:
          type: string
      - name: validator_address
        description: validator_address defines the validator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/delegators/{delegator_address}/validators:
    get:
      summary: Delegator Validators
      operationId: cosmos_distribution_v1beta1_QueryDelegatorValidators
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryDelegatorValidatorsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: delegator_address
        description: delegator_address defines the delegator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/delegators/{delegator_address}/withdraw_address:
    get:
      summary: Delegator Withdraw Address
      operationId: cosmos_distribution_v1beta1_QueryDelegatorWithdrawAddress
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryDelegatorWithdrawAddressResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: delegator_address
        description: delegator_address defines the delegator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/params:
    get:
      summary: Params
      operationId: cosmos_distribution_v1beta1_QueryParams
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryParamsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/validators/{validator_address}:
    get:
      summary: Validator Distribution Info
      operationId: cosmos_distribution_v1beta1_QueryValidatorDistributionInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryValidatorDistributionInfoResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: validator_address
        description: validator_address defines the validator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/validators/{validator_address}/commission:
    get:
      summary: Validator Commission
      operationId: cosmos_distribution_v1beta1_QueryValidatorCommission
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryValidatorCommissionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: validator_address
        description: validator_address defines the validator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/validators/{validator_address}/outstanding_rewards:
    get:
      summary: Validator Outstanding Rewards
      operationId: cosmos_distribution_v1beta1_QueryValidatorOutstandingRewards
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryValidatorOutstandingRewardsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: validator_address
        description: validator_address defines the validator address to query for.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Distribution
  /cosmos/distribution/v1beta1/validators/{validator_address}/slashes:
    get:
      summary: Validator Slashes
      operationId: cosmos_distribution_v1beta1_QueryValidatorSlashes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.distribution.v1beta1.QueryValidatorSlashesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: validator_address
        description: validator_address defines the validator address to query for.
        in: path
        required: true
        schema:
          type: string
      - name: starting_height
        description: starting_height defines the optional starting height to query the slashes.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: ending_height
        description: starting_height defines the optional ending height to query the slashes.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Distribution
  /cosmos/evidence/v1beta1/evidence:
    get:
      summary: All Evidence
      operationId: cosmos_evidence_v1beta1_QueryAllEvidence
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.evidence.v1beta1.QueryAllEvidenceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Evidence
  /cosmos/evidence/v1beta1/evidence/{hash}:
    get:
      summary: Evidence
      operationId: cosmos_evidence_v1beta1_QueryEvidence
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.evidence.v1beta1.QueryEvidenceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: hash
        description: |-
          hash defines the evidence hash of the requested evidence.

          Since: cosmos-sdk 0.47
        in: path
        required: true
        schema:
          type: string
      - name: evidence_hash
        description: |-
          evidence_hash defines the hash of the requested evidence.
          Deprecated: Use hash, a HEX encoded string, instead.
        in: query
        required: false
        schema:
          type: string
          format: byte
      tags:
      - Evidence
  /cosmos/feegrant/v1beta1/allowance/{granter}/{grantee}:
    get:
      summary: Allowance
      operationId: cosmos_feegrant_v1beta1_QueryAllowance
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.feegrant.v1beta1.QueryAllowanceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: granter
        description: granter is the address of the user granting an allowance of their funds.
        in: path
        required: true
        schema:
          type: string
      - name: grantee
        description: grantee is the address of the user being granted an allowance of another user's funds.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Feegrant
  /cosmos/feegrant/v1beta1/allowances/{grantee}:
    get:
      summary: Allowances
      operationId: cosmos_feegrant_v1beta1_QueryAllowances
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.feegrant.v1beta1.QueryAllowancesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: grantee
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Feegrant
  /cosmos/feegrant/v1beta1/issued/{granter}:
    get:
      summary: Allowances By Granter
      description: 'Since: cosmos-sdk 0.46'
      operationId: cosmos_feegrant_v1beta1_QueryAllowancesByGranter
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.feegrant.v1beta1.QueryAllowancesByGranterResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: granter
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Feegrant
  /cosmos/gov/v1/params/{params_type}:
    get:
      summary: Params
      operationId: cosmos_gov_v1_QueryParams
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryParamsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: params_type
        description: |-
          params_type defines which parameters to query for, can be one of "voting",
          "tallying" or "deposit".
        in: path
        required: true
        schema:
          type: string
      tags:
      - Governance
  /cosmos/gov/v1/proposals:
    get:
      summary: Proposals
      operationId: cosmos_gov_v1_QueryProposals
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryProposalsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_status
        description: |-
          proposal_status defines the status of the proposals.

           - PROPOSAL_STATUS_UNSPECIFIED: PROPOSAL_STATUS_UNSPECIFIED defines the default proposal status.
           - PROPOSAL_STATUS_DEPOSIT_PERIOD: PROPOSAL_STATUS_DEPOSIT_PERIOD defines a proposal status during the deposit
          period.
           - PROPOSAL_STATUS_VOTING_PERIOD: PROPOSAL_STATUS_VOTING_PERIOD defines a proposal status during the voting
          period.
           - PROPOSAL_STATUS_PASSED: PROPOSAL_STATUS_PASSED defines a proposal status of a proposal that has
          passed.
           - PROPOSAL_STATUS_REJECTED: PROPOSAL_STATUS_REJECTED defines a proposal status of a proposal that has
          been rejected.
           - PROPOSAL_STATUS_FAILED: PROPOSAL_STATUS_FAILED defines a proposal status of a proposal that has
          failed.
        in: query
        required: false
        schema:
          type: string
          enum:
          - PROPOSAL_STATUS_UNSPECIFIED
          - PROPOSAL_STATUS_DEPOSIT_PERIOD
          - PROPOSAL_STATUS_VOTING_PERIOD
          - PROPOSAL_STATUS_PASSED
          - PROPOSAL_STATUS_REJECTED
          - PROPOSAL_STATUS_FAILED
          default: PROPOSAL_STATUS_UNSPECIFIED
      - name: voter
        description: voter defines the voter address for the proposals.
        in: query
        required: false
        schema:
          type: string
      - name: depositor
        description: depositor defines the deposit addresses from the proposals.
        in: query
        required: false
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Governance
  /cosmos/gov/v1/proposals/{proposal_id}:
    get:
      summary: Proposal
      operationId: cosmos_gov_v1_QueryProposal
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryProposalResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Governance
  /cosmos/gov/v1/proposals/{proposal_id}/deposits:
    get:
      summary: Deposits
      operationId: cosmos_gov_v1_QueryDeposits
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryDepositsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Governance
  /cosmos/gov/v1/proposals/{proposal_id}/deposits/{depositor}:
    get:
      summary: Deposit
      operationId: cosmos_gov_v1_QueryDeposit
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryDepositResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: depositor
        description: depositor defines the deposit addresses from the proposals.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Governance
  /cosmos/gov/v1/proposals/{proposal_id}/tally:
    get:
      summary: Tally Result
      operationId: cosmos_gov_v1_QueryTallyResult
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryTallyResultResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Governance
  /cosmos/gov/v1/proposals/{proposal_id}/votes:
    get:
      summary: Votes
      operationId: cosmos_gov_v1_QueryVotes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryVotesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Governance
  /cosmos/gov/v1/proposals/{proposal_id}/votes/{voter}:
    get:
      summary: Vote
      operationId: cosmos_gov_v1_QueryVote
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1.QueryVoteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: voter
        description: voter defines the voter address for the proposals.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Governance
  /cosmos/gov/v1beta1/params/{params_type}:
    get:
      summary: Params
      operationId: cosmos_gov_v1beta1_QueryParams
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryParamsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: params_type
        description: |-
          params_type defines which parameters to query for, can be one of "voting",
          "tallying" or "deposit".
        in: path
        required: true
        schema:
          type: string
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals:
    get:
      summary: Proposals
      operationId: cosmos_gov_v1beta1_QueryProposals
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryProposalsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_status
        description: |-
          proposal_status defines the status of the proposals.

           - PROPOSAL_STATUS_UNSPECIFIED: PROPOSAL_STATUS_UNSPECIFIED defines the default proposal status.
           - PROPOSAL_STATUS_DEPOSIT_PERIOD: PROPOSAL_STATUS_DEPOSIT_PERIOD defines a proposal status during the deposit
          period.
           - PROPOSAL_STATUS_VOTING_PERIOD: PROPOSAL_STATUS_VOTING_PERIOD defines a proposal status during the voting
          period.
           - PROPOSAL_STATUS_PASSED: PROPOSAL_STATUS_PASSED defines a proposal status of a proposal that has
          passed.
           - PROPOSAL_STATUS_REJECTED: PROPOSAL_STATUS_REJECTED defines a proposal status of a proposal that has
          been rejected.
           - PROPOSAL_STATUS_FAILED: PROPOSAL_STATUS_FAILED defines a proposal status of a proposal that has
          failed.
        in: query
        required: false
        schema:
          type: string
          enum:
          - PROPOSAL_STATUS_UNSPECIFIED
          - PROPOSAL_STATUS_DEPOSIT_PERIOD
          - PROPOSAL_STATUS_VOTING_PERIOD
          - PROPOSAL_STATUS_PASSED
          - PROPOSAL_STATUS_REJECTED
          - PROPOSAL_STATUS_FAILED
          default: PROPOSAL_STATUS_UNSPECIFIED
      - name: voter
        description: voter defines the voter address for the proposals.
        in: query
        required: false
        schema:
          type: string
      - name: depositor
        description: depositor defines the deposit addresses from the proposals.
        in: query
        required: false
        schema:
          type: string
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals/{proposal_id}:
    get:
      summary: Proposal
      operationId: cosmos_gov_v1beta1_QueryProposal
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryProposalResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals/{proposal_id}/deposits:
    get:
      summary: Deposits
      operationId: cosmos_gov_v1beta1_QueryDeposits
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryDepositsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals/{proposal_id}/deposits/{depositor}:
    get:
      summary: Deposit
      operationId: cosmos_gov_v1beta1_QueryDeposit
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryDepositResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: depositor
        description: depositor defines the deposit addresses from the proposals.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals/{proposal_id}/tally:
    get:
      summary: Tally Result
      operationId: cosmos_gov_v1beta1_QueryTallyResult
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryTallyResultResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals/{proposal_id}/votes:
    get:
      summary: Votes
      operationId: cosmos_gov_v1beta1_QueryVotes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryVotesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: |-
          reverse is set to true if results are to be returned in the descending order.

          Since: cosmos-sdk 0.43
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Governance
  /cosmos/gov/v1beta1/proposals/{proposal_id}/votes/{voter}:
    get:
      summary: Vote
      operationId: cosmos_gov_v1beta1_QueryVote
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.gov.v1beta1.QueryVoteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: proposal_id
        description: proposal_id defines the unique id of the proposal.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: voter
        description: voter defines the voter address for the proposals.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Governance
  /cosmos/group/v1/group_info/{group_id}:
    get:
      summary: Group Info
      operationId: cosmos_group_v1_QueryGroupInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.group.v1.QueryGroupInfoResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: group_id
        description: group_id is the unique ID of the group.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Group
  /cosmos/group/v1/group_members/{group_id}:
    get:
      summary: Group Members
      operationId: cosmos_group_v1_QueryGroupMembers
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cosmos.group.v1.QueryGroupMembersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      parameters:
      - name: group_id
        description: group_id is the unique ID of the group.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: pagination.key
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: |-
[...]
